body {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	position: relative;
}
.dropzone {
	width: 240px;
	height: 40px;
	background: #9e8f8f;
	margin-bottom: 10px;
	user-select: none;
	box-sizing: border-box;
}
body.dragstart .dropzone *{
	pointer-events: none
}
.active_dropzone{
	border:3px dotted #ccc
}
.active_dropzone .item{
	background: #6420a3;
	z-index: 9999999
}
.item {
	width: 240px;
	height: 40px;
	background: #8a2be2;
	color: #fff;
	user-select: none;
	padding: 10px;
	box-sizing: border-box;
	transition: top .5s;
	position: relative;
	top:0
}

.dragged{
	pointer-events: all !important;
	/* background: green; */
	opacity:1;
}