/* 


@font-face {
      font-family: 'GothamRoundedBold';
      src: url('fonts/gothamrnd-bold.eot');
      src: url('fonts/gothamrnd-bold.eot') format('embedded-opentype'),
           url('fonts/gothamrnd-bold.woff') format('woff'),
           url('fonts/gothamrnd-bold.ttf') format('truetype'),
           url('fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
  }
  
  @font-face {
      font-family: 'GothamRoundedBook';
      src: url('fonts/gothamrnd-book.eot');
      src: url('fonts/gothamrnd-book.eot') format('embedded-opentype'),
           url('fonts/gothamrnd-book.woff') format('woff'),
           url('fonts/gothamrnd-book.ttf') format('truetype'),
           url('fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg')
           ;
  }
  @font-face {
      font-family: 'GothamRoundedMedium';
      src: url('fonts/gothamrnd-medium.eot');
      src: url('fonts/gothamrnd-medium.eot') format('embedded-opentype'),
           url('fonts/gothamrnd-medium.woff') format('woff'),
           url('fonts/gothamrnd-medium.ttf') format('truetype'),
           url('fonts/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
  }
  @font-face {
      font-family: 'GothamRoundedLight';
      src: url('fonts/gothamrnd-light.eot');
      src: url('fonts/gothamrnd-light.eot') format('embedded-opentype'),
           url('fonts/gothamrnd-light.woff') format('woff'),
           url('fonts/gothamrnd-light.ttf') format('truetype'), 
           url('fonts/gothamrnd-light.svg#GothamRoundedLight') format('svg');
  }
 */



/*:::::::::::::::::::::::::::::::::::::::::::: | gral | :::::::::::::::::::::::::::::::::::::::::::*/
/* h1,h2,h3,h4,h5,h6{
      font-family: 'GothamRoundedBook'
} */
/* p{
      font-family: 'GothamRoundedBold'
} */


body, html {
      background: #e7e7e7;
      margin: 0;
      padding: 0;
      height: 100vh;
      font-family: sans-serif;
}


::-webkit-scrollbar { 
      display: none; 
  }
 ::-moz-scrollbar { 
      display: none; 
  }
  main-container div{
        overflow: -moz-scrollbars-none
      }

/*:::::::::::::::::::::::::::::::::::::::::::: | main_bar | :::::::::::::::::::::::::::::::::::::::::::*/
#main_bar {
      height: calc(100vh - 50px);
      width: 220px;
      margin:0;
      padding: 20px;
      float: left;
      background: #e2e2e2;
      display: block;
      overflow-y:scroll;
      box-sizing: border-box;   /*previene que el padding agrande el div*/
}

#main_bar nav{
      margin:30px 0;
}

#main_bar nav li{
      margin:10px 0;
      list-style: none;
      text-decoration: none;
}


#main_bar nav li a{
      text-decoration: none;
      font-size:.9em;
      color:black;
}

#main_bar nav li a:after{
      content: "";
      height: 8px;
      width: 1em;
      background:url('../img/right-arrow.svg') no-repeat;
      background-size: contain;
      display:inline-block;
      margin-left:10px

}

#main_bar nav li a:visited{
      color:black;

}
/*:::::::::::::::::::::::::::::::::::::::::::: | main-container | :::::::::::::::::::::::::::::::::::::::::::*/
#main-container {
      
      height: calc(100vh - 50px);   
      width: 80%;   
      float: left;   
      display: block; 
      overflow-y:hidden;
      box-sizing: border-box;
}
/*:::::::::::::::::::::::::::::::::::::::::::: | sidebar | :::::::::::::::::::::::::::::::::::::::::::*/
.sidebar {
      height: 100%;
      width: 250px;
      padding: 50px 0px;
      background: #eaeaea;
      float: left;
      overflow-y:scroll;
      box-sizing: border-box;
}

.tree-sub {
      padding: 0;
      margin: 0;
}

.tree-sub a{
      text-decoration: none;
      font-size:.9em;
      color:black;
      margin:0;
      /* padding-left:10px; */
      padding: 0 0 0 10px;
      /* background: red; */
      /* display: inline-block; */
      
      
}

.nav-item{
      padding: 5px;
      margin: 0;
      position: relative;
      /* transition: background .1s */
}
.nav-item:hover {
      background: #efefef;
      width: 100%;
}

/* .has-child > div:nth-of-type(2){
      margin-top:5px
}
.has-child.visible{
      margin-bottom:5px
} */

.tree-sub3 a{
      margin-left:10px
}
.tree-sub4 a{
      margin-left:20px
}
.tree-sub3{
      background: #e6e6e6;
 }
.tree-sub4{
     background: #e2e2e2;
}


.has-child {
     transition: max-height .3s;
     transition-timing-function: cubic-bezier();
     overflow: hidden
     
}
.has-child.collapse  {
      max-height: 25px!important
}

.has-child > .nav-item > a:after{
      content: "";
      height: 8px;
      width: 1em;
      background:url('../img/right-arrow.svg') no-repeat;
      background-size: contain;
      display:inline-block;
      margin-left:15px;
      transform: rotate(90deg);
      transform-origin: 30%;
}

.has-child.collapse > .nav-item > a:after{
      transform: rotate(0deg);
      
}

/*:::::::::::::::::::::::::::::::::::::::::::: | content | :::::::::::::::::::::::::::::::::::::::::::*/
.content {
      height: 100%;
      background: #f3f3f3;
      overflow-y:scroll;
      padding: 50px 5vw;
      box-sizing: border-box;
}



/*:::::::::::::::::::::::::::::::::::::::::::: | footer | :::::::::::::::::::::::::::::::::::::::::::*/

      
#footer {
      width: 100vw;
      position: fixed;
      bottom: 0px;
      height: 50px;
      padding: 20px;
      background: #eaeaea;
      box-sizing: border-box;
}

#vpvk{
      width: 10px;
}
