/*:::::::::::::::::::::::::::::::::::::::::::: | gral | :::::::::::::::::::::::::::::::::::::::::::*/

body, html {
      background: #e7e7e7;
      margin: 0;
      padding: 0;
      height: 100vh;
      font-family: sans-serif;
}

::-webkit-scrollbar { 
      display: none; 
  }
 ::-moz-scrollbar { 
      display: none; 
  }
  main-container div{
        overflow: -moz-scrollbars-none
      }

/*:::::::::::::::::::::::::::::::::::::::::::: | main_bar | :::::::::::::::::::::::::::::::::::::::::::*/
#main_bar {
      height: calc(100vh - 50px);
      width: 220px;
      margin:0;
      padding: 20px;
      float: left;
      background: #e2e2e2;
      display: block;
      overflow-y:scroll;
      box-sizing: border-box;   /*previene que el padding agrande el div*/
}

#main_bar nav{
      margin:30px 0;
}

#main_bar nav li{
      margin:10px 0;
      list-style: none;
      text-decoration: none;
}


#main_bar nav li a{
      text-decoration: none;
      font-size:.9em;
      color:black;
}

#main_bar nav li a:after{
      content: "";
      height: 8px;
      width: 1em;
      background:url('../img/right-arrow.svg') no-repeat;
      background-size: contain;
      display:inline-block;
      margin-left:10px

}

#main_bar nav li a:visited{
      color:black;

}
/*:::::::::::::::::::::::::::::::::::::::::::: | main-container | :::::::::::::::::::::::::::::::::::::::::::*/
#main-container {
      
      height: calc(100vh - 50px);   
      width: 80%;   
      float: left;   
      display: block; 
      overflow-y:hidden;
      box-sizing: border-box;
}
/*:::::::::::::::::::::::::::::::::::::::::::: | footer | :::::::::::::::::::::::::::::::::::::::::::*/
.sidebar {
      height: 100%;
      width: 250px;
      padding: 50px 20px;
      background: #eaeaea;
      float: left;
      overflow-y:scroll;
      box-sizing: border-box;
}
/*:::::::::::::::::::::::::::::::::::::::::::: | content | :::::::::::::::::::::::::::::::::::::::::::*/
.content {
      height: 100%;
      background: #f3f3f3;
      overflow-y:scroll;
      padding: 50px 5vw;
      box-sizing: border-box;
}
/*:::::::::::::::::::::::::::::::::::::::::::: | footer | :::::::::::::::::::::::::::::::::::::::::::*/

      
#footer {
      width: 100vw;
      position: fixed;
      bottom: 0px;
      height: 50px;
      padding: 20px;
      background: #eaeaea;
      box-sizing: border-box;
}

#vpvk{
      width: 10px;
}
