/*:::::::::::::::::::::::::::::::::::::::::::: | font | :::::::::::::::::::::::::::::::::::::::::::*/

      
      /*       
            @font-face {
                  font-family: 'GothamRoundedBold';
                  src: url('fonts/gothamrnd-bold.eot');
                  src: url('fonts/gothamrnd-bold.eot') format('embedded-opentype'),
                  url('fonts/gothamrnd-bold.woff') format('woff'),
                  url('fonts/gothamrnd-bold.ttf') format('truetype'),
                  url('fonts/gothamrnd-bold.svg#GothamRoundedBold') format('svg');
            }
            
            @font-face {
                  font-family: 'GothamRoundedBook';
                  src: url('fonts/gothamrnd-book.eot');
                  src: url('fonts/gothamrnd-book.eot') format('embedded-opentype'),
                  url('fonts/gothamrnd-book.woff') format('woff'),
                  url('fonts/gothamrnd-book.ttf') format('truetype'),
                  url('fonts/gothamrnd-book.svg#GothamRoundedBook') format('svg')
                  ;
            }
            @font-face {
                  font-family: 'GothamRoundedMedium';
                  src: url('fonts/gothamrnd-medium.eot');
                  src: url('fonts/gothamrnd-medium.eot') format('embedded-opentype'),
                  url('fonts/gothamrnd-medium.woff') format('woff'),
                  url('fonts/gothamrnd-medium.ttf') format('truetype'),
                  url('fonts/gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
            }
            @font-face {
                  font-family: 'GothamRoundedLight';
                  src: url('fonts/gothamrnd-light.eot');
                  src: url('fonts/gothamrnd-light.eot') format('embedded-opentype'),
                  url('fonts/gothamrnd-light.woff') format('woff'),
                  url('fonts/gothamrnd-light.ttf') format('truetype'), 
                  url('fonts/gothamrnd-light.svg#GothamRoundedLight') format('svg');
            }
            


            h1,h2,h3,h4,h5,h6{
                  font-family: 'GothamRoundedBook';
                  color:red
            }
            p {
                  font-family: 'GothamRoundedBold'
            } */

/*:::::::::::::::::::::::::::::::::::::::::::: | gral | :::::::::::::::::::::::::::::::::::::::::::*/

      ul, ol, li{
            list-style-position: inside ;
            /* margin:0; */
            padding: 0
      }
      a{
            user-select: none
      }
      
      body, html {
            margin: 0;
            padding: 0;
            height: 100vh;
            font-family: 'Roboto', sans-serif;     
      }

      a:visited{
            color:initial
      }

      ::-webkit-scrollbar { 
            /* display: none;  */
      }

      ::-moz-scrollbar { 
            /* display: none;  */
      }

      #main-container div{
            /* overflow: -moz-scrollbars-none; */
            /* background: none; */
      }

/*:::::::::::::::::::::::::::::::::::::::::::: | content | :::::::::::::::::::::::::::::::::::::::::::*/
      /* #main-container{
            scroll-behavior: smooth;
      } */
      .content {
            padding: 50px 30px;
            box-sizing: border-box;
            scroll-behavior: smooth;
            overflow-y: scroll;

      }
      .content *{
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            font-size: 16px;
            padding-left:0;
            transition: background .3s, color .3s, padding-left .3s ease
            
      }
      .focus{
            /* background:#aaf6ff; */
            /* color:#fff; */
            padding-left:25px
            /* transform:translateX(30px); */
            /* transform-origin: left; */
            
      }

      .content h1{
            font-size: 35px;
            font-weight: 200;
      }
      .content h2 {
            font-size: 32px;
            /* margin-top: 50px; */
            /* padding-top: 50px; */
            font-weight: 600;
            /* border-top: 1px solid #dcdcdc; */
      }
      .content hr{
            margin: 30px 0 50px 0;
            background-color: #dcdcdc;
            display: block;
            height: 1px;
            border: none;
      }
      .content h3{
            font-size: 22px;
            font-weight: 600;
            margin-top: 55px;
      }
      .content h4{
            font-size: 18px;
            font-weight: 400;
            margin-top: 30px;
            letter-spacing: 1px;
            text-decoration: underline;
      }

      .content li{
           margin:10px 0;
      }
      .content code *, .content code{
            font-family: monospace !important;
            font-size: 14px;            
      }


      .content strong{
            font-weight: 400;
            /* color: #ffffff; */
            background: #aaf6ff;
            /* padding: 0 10px; */
      }







      .fade{
            transition: all .5s;
      }

      .viewport_not_visible{
            opacity: 0;
            transform: translateX(15px)
      }




/*:::::::::::::::::::::::::::::::::::::::::::: | main-container | :::::::::::::::::::::::::::::::::::::::::::*/
      #main-container {
            display: grid;
            /* grid-template-columns: repeat(auto,4); */
            grid-template-columns: 1fr 2fr 9fr 3fr;
            grid-template-rows: auto 50px;
            height: 100vh;
            width: 100%;
            /* padding: 0 40px ; */
            overflow-y:hidden;
            box-sizing: border-box;
            background: #f6f8fa;
      }
      
      #art{
            background: #79ebff; 
            background: url('../docs/imgs/dom.png')no-repeat right top;
            grid-row: 1 / 3 
      }


      /*:::::::::::::::::::::::::::::::::::::::::::: | main_Nav | :::::::::::::::::::::::::::::::::::::::::::*/
      #main_nav {
            display: grid;
            grid-template-rows: 110px auto;
            width: 200px;
            padding: 0px 10px 0 40px ;
            overflow-y:scroll;
            box-sizing: border-box;
            transition: width .5s ease
      }
      /* #main_nav:hover{
            width: 600px;
            background: red
      } */
      #main_nav .logo{
            align-self: center
      }
      #main_nav nav{
            grid-row: 2;
            z-index:2
      }

      #main_nav nav li{
            margin:10px 0;
            list-style: none;
            text-decoration: none;
            cursor: pointer;
      }


      #main_nav nav li a{
            text-decoration: none;
            font-size:.9em;
            color:black;
            user-select: none
      }
      #main_nav nav .active{
            background: #aaf6ff;
            width: fit-content;
      }

      /* #main_nav nav li a:after{
            content: "";
            height: 8px;
            width: 1em;
            background:url('../img/right-arrow.svg') no-repeat;
            background-size: contain;
            display:inline-block;
            margin-left:10px
      } */

      #main_nav nav li a:visited{
            color:black;

      }



      #main_nav .highlight{
            position:absolute;
            width: 0px;
            height: 0px;
            background: #79ebff;
            /* transition: all .3s ease; */
            z-index: 1;
      }

/*:::::::::::::::::::::::::::::::::::::::::::: | index_nav | :::::::::::::::::::::::::::::::::::::::::::*/
      .index_nav {
            display: grid;
            grid-template-rows: 110px auto;
            width: 300px;
            padding: 0px 10px;
            overflow-y:scroll;
            box-sizing: border-box;
            /* background: yellow; */
      }
      .tree{
            grid-row: 2
      }

      .tree-sub{
            padding-left: 13px;
            background-image: linear-gradient(to top, #00000062 50%, #00000000 0%);
            background-position: 6px;
            background-size: 1px 3px;
            background-repeat: repeat-y;
      }

      .tree-sub2 {
            background: none! important;
            padding: 0 !important;
      }

      .tree-sub a{
            text-decoration: none;
            font-size:.9em;
            color:black;
            margin:0;
            display: block;
            width: 80%;
            height: 100%;
            padding: 7px;
      }

      .nav-item{

            margin: 0;
            position: relative;

      }
      .nav-item:hover {

      }

      .tree-sub3 a{

      }
      .tree-sub4 a{

      }
      .tree-sub3{

      }
      .tree-sub4{

      }

      .has-child {
      transition: max-height .3s;
      transition-timing-function: cubic-bezier();
      overflow: hidden
      
      }
      .has-child.collapse  {
            max-height: 32px !important;
      }

      .has-child > .nav-item > a:after{
            content: '';
            height: 8px;
            width: 10px;
            background: url(../img/arrow.svg) no-repeat;
            background-size: contain;
            float: right;
            transform: rotate(-135deg);
            transform-origin: 40%;
            position: relative;
            top: 6px;
            left: 30px;
            pointer-events: none;
            transition: transform .3s ease;
      }

      .has-child.collapse > .nav-item > a:after{
            transform: rotate(0deg);
            
      }



/*:::::::::::::::::::::::::::::::::::::::::::: | footer | :::::::::::::::::::::::::::::::::::::::::::*/
      
      #footer {
            display: grid;
            grid-auto-flow: column;
            height: 50px;
            padding: 20px 40px;
            background: #fff;
            box-sizing: border-box;
            grid-row: 2;
            grid-column: 1 /4;
            align-content: center;
            justify-content: left;
            column-gap: 30px
      }
      #footer a{
            text-decoration: none;
            color:#000;
            font-size: 14px;
      }

      #footer a img{
            width: 25px;
            vertical-align: middle;
            margin-right: 10px
      }

/*:::::::::::::::::::::::::::::::::::::::::::: | CODE  | :::::::::::::::::::::::::::::::::::::::::::*/
code {
      padding:30px 30px 30px 30px !important;
      background: #ffffff88 !important;
}


/*:::::::::::::::::::::::::::::::::::::::::::: | mobile | :::::::::::::::::::::::::::::::::::::::::::*/
      
      @media screen and (max-width: 728px){
            #main-container {
                  grid-template-columns: 1fr;
                  grid-template-rows: auto;
            }
            #main_nav {
                  grid-row:1;
            }
            .index_nav{
                  grid-row:2;
            }
            .content{
                  grid-row:3;
            }
            #footer{
                  grid-row:4;
            }
      }



